@import '../../../vars.scss';

.main {
  height: 100vh;
  background-image: url('../../../assets/pictures/landing_image.jpg');
  background-position : center bottom;
  background-size: cover;
	background-repeat: no-repeat;
}

.login-box {
  width: 100%;
  max-width: 1200px;
  background-color: white;
  @media screen and (max-width: $screen-medium){
    width: auto;
  }
}

.login-picture {
  max-width: 500px;
}
