<div class="main w-100">
  <div class="mlr-auto user-dashboard w-100 p-sm" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-around start">
    <div class="column w-100">
      <div class="card full p-sm">
        <h1 class="title mlr-auto">Current Assignment</h1>
        <p class="assignment-text">{{ currentAssignment }}</p>
        <button mat-button class="button begin">Being</button>
      </div>
    </div>
    <div class="column w-100 middle">
      <div class="card small p-sm mb-sm">
        <h1 class="mlr-auto title mlr-auto">Completed Modules</h1>
        <p class="completed-modules">20</p>
      </div>
      <div class="card medium p-sm">
        <h1 class="title mlr-auto">Next Tutor Session</h1>
      </div>
    </div>
    <div class="column w-100">
      <div class="card small p-sm mb-sm">
        <h1 class="title mlr-auto">Newest Skill</h1>
        <p class="newest-skill">Arrays</p>
      </div>
      <div class="card medium tutor-card p-sm">
        <h1 class="title mlr-auto">Tutor</h1>
        <p class="tutor">Martin Smolka</p>
        <button mat-button class="button contact">Contact</button>
      </div>
    </div>
  </div>
</div>
