<div class="main w-100">
  <div class="mlr-auto user-dashboard w-100 p-sm" fxLayout="column" fxLayoutAlign="space-around start">
    <div class="banner white w-100 pr-sm" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="banner-box p-sm pl-md pr-md" fxLayoutAlign="center center">
        <h1 class="m-auto">Code Tutor</h1>
      </div>
      <div class="course-info ml-sm mr-auto" fxLayoutAlign="start center">
        <h1 class="mt-0 mb-0">Course: {{ userCourse }}</h1>
      </div>
      <div class="user-actions pr-sm pl-sm action-box">
        <button mat-icon-button aria-label="Messages">
          <mat-icon class="white" matBadge="15" matBadgeColor="warn">mail_outline</mat-icon>
        </button>
        <button mat-icon-button aria-label="Notifications">
          <mat-icon class="white" matBadge="15" matBadgeColor="warn">notifications_none</mat-icon>
        </button>
      </div>
      <div class="user-info ml-sm" fxLayout="row">
        <img class="user-picture" src="../../../assets/pictures/martin.jpg" alt="Picture of {{ username }}"/>
        <div fxLayoutAlign="center center">
          <h1 class=" mt-0 mb-0 ml-xs mr-xs">{{ username }}</h1>
        </div>
        <button class="expand-user-button" mat-icon-button aria-label="User Account Options">
          <mat-icon class="white" matBadgeColor="warn">keyboard_arrow_down</mat-icon>
        </button>
      </div>
    </div>
    <div class="dashboard-contents w-100 mt-sm" fxLayout="row" fxLayoutAlign="center start">
      <div class="assignments mr-md">
        <app-assignment-board></app-assignment-board>
      </div>
      <div class="user-tiles">
        <app-info-tile *ngFor="let tile of infoTiles" [infoTile]="tile" ></app-info-tile>
        <div class="tutor-meeting tile-background p-sm" fxLayout="column" fxLayoutAlign="center center">
          <h1>Next Tutor Meeting</h1>
          <h1>July 15th</h1>
          <button mat-button class="action-button">Request change</button>
        </div>
      </div>
      <div class="right-column ml-md">
          <div class="tutor-box tile-background p-sm" fxLayout="column" fxLayoutAlign="center center">
            <h1 class="mb-xs">Tutor</h1>
            <p>{{ tutor.name }}</p>
            <img class="mb-sm tutor-picture" src="{{ tutor.picture }}" alt="Picture of Tutor {{ tutor.name }}"/>
            <button mat-button class="action-button">Contact</button>
          </div>
        </div>
    </div>
  </div>
</div>
